* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: #fff;
  position: absolute;
  width: 100%;
}

.nav-active a{
  color: #07A550;
}

/* section-one */
.cal-sec1 {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 90px 0px 0px;
}
.cal-img {
  height: auto;
  width: 400px;
  border-radius: 12px;
}
.cal-hero {
  /* width: 1130px; */
  max-width: 85%;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.text {
  width: 540px;
}
.text h2 {
  color: #131313;
  font-size: 46px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
    
}
  
.text p {
  color: #626060;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
  margin-top: 15px;
  font-family: "DM Sans", serif;
}
.cal-cta {
  margin-top: 30px;
}
.calculate {
  font-family: "DM Sans", serif;
  font-size: 16px;
  background: #07A550;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 13px 30px;
  border-radius: 50px;
  transition: 0.5s;
}
.calculate:hover {
  background: #131313;
  color: #fff;
}

.cal-sec1 {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 90px 0px 0px;
}
.cal-img {
  height: auto;
  width: 400px;
  border-radius: 12px;
}
.cal-hero {
  /* width: 1130px; */
  max-width: 85%;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.text {
  width: 540px;
}
.text h2 {
  color: #131313;
  font-size: 46px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
    
}
  
.text p {
  color: #626060;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
  margin-top: 15px;
  font-family: "DM Sans", serif;
}
.cal-cta {
  margin-top: 30px;
}
.calculate {
  font-family: "DM Sans", serif;
  font-size: 16px;
  background: #07A550;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 13px 30px;
  border-radius: 50px;
  transition: 0.5s;
}
.calculate:hover {
  background: #131313;
  color: #fff;
}


/* section-two */
.cal-sec2 {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 0px 0px;
}
.cal-steps-img {
  height: auto;
  width: 400px;
  border-radius: 12px;
}

.cal-steps-intro {
  max-width: 85%;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.cal-steps-intro .text {
  width: 540px;
}

.cal-steps-intro .text h2 {
  color: #131313;
  font-size: 32px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
    
}
  
.cal-steps-intro .text p {
  color: #626060;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
  margin-top: 15px;
  font-family: "DM Sans", serif;
}

.section-three{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.steps-section {
  width: 80%;
  max-width: 900px;
}

.step {
  background-color: #EBEEF1;
  border-radius: 10px;
  padding: 30px 20px;
  margin: 40px 0;
  text-align: center;
  position: relative;
  
}

.step-number {
  width: 50px;
  height: 50px;
  background-color: #20a864;
  border: 4px solid #fff;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.step h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.step p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  font-family: "DM Sans", serif;

}

/* Section Four */
.section-four{
  padding: 80px 240px;
}

.newsletter-bg {
  background-color: #EBEEF1;
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.newsletter-content {
  text-align: center;
  color: #131313;
  max-width: 800px;
}

.newsletter-content h2 {
  font-size: 36px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

.newsletter-content p {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: "DM Sans", serif;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.newsletter-form div {
  padding: 15px 25px;
  background-color: #07A550;
  color: white;
  font-size: 16px;
  font-family: "DM Sans", serif;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.newsletter-form div:hover {
  background: #131313;
  color: #fff;
}


/* -----------------------------------
---------Responsive view-----------
----------------------------------- */

/* section-one */
/* Tablet View */
@media (max-width: 1024px) {
  .cal-hero {
    flex-direction: column;
    align-items: center;
  }
  
  .cal-img {
    /* width: 300px; */
    width: 70%;
    margin-bottom: 20px;
  }
  
  .text {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
    /* .text h2 {
      font-size: 60px;
    } */
  
  .text h5 {
    font-size: 20px;
  }  
  
  .text p {
    font-size: 16px;
  }
}
  
/* Mobile View */
@media (max-width: 768px) {
  .cal-sec1 {
    padding: 50px 0 0;
  }
  
  .cal-hero {
    width: 90%;
    flex-direction: column;
    gap: 30px;
  }
  
  .cal-img {
    /* width: 250px; */
    width: 70%;
    margin-bottom: 20px;
  }
  
  /* .text h2 {
    font-size: 40px;
  } */
  
  .text h5 {
    font-size: 18px;
  }
  
  .text p {
    font-size: 14px;
    line-height: 22px;
  }
  
  .calculate {
    font-size: 16px;
  }
}

/* section-two */
/* Tablet View */
@media (max-width: 1024px) {
  .cal-steps-intro {
    flex-direction: column;
    align-items: center;
  }
  
  .cal-steps-img {
    /* width: 300px; */
    width: 70%;
    margin-bottom: 20px;
  }
  
  .cal-steps-intro .text {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* .cal-steps-intro .text h2 {
    font-size: 60px;
  } */
  
  .cal-steps-intro .text h5 {
    font-size: 20px;
  }
  
  .cal-steps-intro .text p {
    font-size: 16px;
  }
}

/* Mobile View */
@media (max-width: 768px) {
  .cal-sec2 {
    padding: 0px 0px 50px;
  }
  
  .cal-steps-intro {
    width: 90%;
    flex-direction: column;
    gap: 30px;
  }
  
  .cal-steps-img {
    /* width: 250px; */
    width: 70%;
    margin-bottom: 20px;
  }
  
  /* .cal-steps-intro .text h2 {
    font-size: 40px;
  } */
  
  .cal-steps-intro .text h5 {
    font-size: 18px;
  }
  
  .cal-steps-intro .text p {
    font-size: 14px;
    line-height: 22px;
  }
}

/* section-four */
@media (max-width: 1024px) {
  .section-four{
      padding: 40px 120px;
  }    
}

@media (max-width: 768px) {
  .section-four{
      padding: 40px 60px;
  }
}

@media (max-width: 500px) {
  .section-four{
      padding: 40px 20px;
  }
}

@media (max-width: 768px) {

  .newsletter-form {
      flex-direction: column;
  }

  .newsletter-form input {
      width: 100%;
  }
}
