/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap'); */
/* font-family: "DM Sans", serif; */
/* font-family: "Plus Jakarta Sans", sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    background-color: #fff;
    position: absolute;
    width: 100%;
}

/* Preloader styles */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.spinner {
    border: 8px solid #EBEEF1;
    border-top: 8px solid #07A550; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}

/* Spin animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* NavBar styling */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    background-color: #fff;
    border-bottom: 1px solid #131313;
    z-index: 999;
}

.nav,
.nav .nav-links {
    display: flex;
    align-items: center;
}
.nav {
    justify-content: space-between;
}
a {
    color: #131313;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.nav-links a:hover{
    color: #07A550;
    text-decoration: underline;
}

.logo img {
    width: 150px;
}

.nav .nav-links {
    column-gap: 20px;
    list-style: none;
}
.nav .nav-links a {
    transition: all 0.2s linear;
}

.apply{
    display: none;
}


.btn {
    width: 156px;
    height: 48px;
    padding: 13px 16px;
    background-color: #07A550;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    font-weight: bold;  
    cursor: pointer;
}

.btn:hover{
    background: #131313;
    color: #fff;
}
  
.nav .navOpenBtn,
.nav .navCloseBtn {
    display: none;
}

/* Dropdown Styling */
.nav .dropdown {
    position: relative;
}

.nav .dropdown a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    flex-direction: column;
    background-color: #EBEEF1;
    border-radius: 8px;
    padding: 10px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.nav .dropdown-menu li {
    list-style: none;
}

.nav .dropdown-menu a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #131313;
    white-space: nowrap;
}

.nav .dropdown-menu a:hover {
    background-color: #fff;
    color: #131313;
    text-decoration: none;
}

/* Show Dropdown */
.nav .dropdown:hover .dropdown-menu {
    display: flex;
}

/* Hero styling */
.hero{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    align-items: center;
    margin: 0px 146px;
    gap: 15px;
}

.hero-content{
    width: 614px;
    /* border: 1px solid black; */
}



.hero-content h1{
    color: #131313;
    /* width: 614px; */
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 3rem;
    line-height: 110%;
    margin: 15px 0 0px;
}


.hero-content p{
    color: #131313;
    font-family: "Plus Jakarta Sans", sans-serif;    
    font-size: 1em;
    font-weight: 500;
    line-height: 180%;
    margin: 48px 0;
}
.hero-img {
    text-align: center;
    /* height: 600px;
    width: 600px; */
    /* border: 1px solid black; */
}

.hero-img img{
    width: 100%;
    object-fit: cover;
}

/* Empowerment section styling */
.section-two{
    padding: 20px 50px;
}

.empowerments-container {
    height: 732px;
    /* max-width: 1200px; */
    width: 954px;
    margin: 0 auto;  
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 110px;
    margin: 0px 0px 60px;
    width: 960px;
}

.header-content h2 {
    font-size: 46px;
    flex: 1;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    width: 345px;
}

.header-content p {
    font-size: 16px;
    color: #131313;
    flex: 2;
    text-align: justify;
    font-family: "DM Sans", serif;
    font-weight: 600;
    width: 505px;
}

/* Empowerment cards layout */
.empowerments-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.empowerment-card {
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    padding: 0 20px 0px;
    align-items: center;
    border: 1px solid #626060;
    width: 467px;
    height: 266px;
}

.empowerment-card img {
    width: 209px;
    height: 226px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 20px;
}

.text-content {
    flex: 1;
    height: 226px;
    width: 208px;
}

.text-content h3 {
    font-size: 21px;
    margin: 0px 0px 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.text-content p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    font-family: "DM Sans", serif;
}

/* Our Partners */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #07A550;
    border-radius: 25px;
    font-family: "DM Sans", serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #131313; 
    background-color: transparent; 
    transition: all 0.3s ease;
    position: relative;
    margin-bottom: 24px;
}

.partners-button h4{
    height: 24px;
}


.partners-button:hover {
    background-color: #07A550; 
    color: #fff; 
}

.partners-button .arrow {
    margin-left: 2px;
    transition: margin-left 0.3s ease;
    color: #000;
}

.partners-button:hover .arrow {
    margin-left: 15px;
    color: #fff; 
}

/* Our Partners Ticker */
.ticker {
    margin-top: 40px;
    width: 100%;
    left: 0;
    right: 0;
    overflow: hidden; 
}


.ticker ul {
    display: flex;
    gap: 100px;
    list-style: none;
    margin: 0;
    animation: scroll 25s infinite linear;
}

.ticker ul li {
    white-space: nowrap;
    position: relative;
    font-weight: bold;
    margin: 6px 0px;
    height: 40px;
}

.ticker ul li img{
    height: 40px;
}


@keyframes scroll {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Knowledge styling */
.section-three{
    padding: 80px 100px;
}

.knowledge-container {
    background-color: #EBEEF1;
    border-radius: 20px;
    padding: 43px;
    max-width: 953px;
    margin: 0 auto; 
}

/* Header and text section */
.ktext-container {
    display: flex;
    align-items: start;
    margin-bottom: 60px;
    gap: 62px;
}


.left-content h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.right-content p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    color: #626060;
    width: 418px;
    text-align: left;
}

.download-link {
    color: #07A550;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 24px;
    /* display: inline-block; */
    display: flex; 
    align-items: center; 
}

/* Knowledge cards styling */
.cards-container {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 217px;
}

.icon-circle {
    font-size: 24px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.knowledge-text h3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 21px;
    font-weight: 700;
    color: #131313;
    margin: 0;
}

.knowledge-text p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: #626060;
    margin: 8px 0 0;
}

/* Impact */
.section-four{
    padding: 20px 150px;
    text-align: center;
}
  
.impact-container {
    max-width: 954px;
    margin: 0 auto;
}
  
.impact-container h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 8px;
    font-family: "Plus Jakarta Sans", sans-serif;
}
  
.impact-container p {
    font-size: 16px;
    color: #626060;
    margin-bottom: 40px;
    font-family: "DM Sans", sans-serif;
}

/* Quote Section */
.impact-quote {
    background-image: url('/assets/impact-img.png');
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    padding: 40px;
}
  
.quote-content {
    /* position: relative; */
    z-index: 2;
    font-size: 20px;
    line-height: 1.6;
}
  
.quote-content p {
    margin: 0;
    font-weight: 800;
    font-size: 30px;
    color: #fff;
}

/* Stats */
.impact-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 32px auto 0px;
}

.stat {
    text-align: center;
    flex: 1;
    padding: 10px 20px;
}

.stat h2 {
    font-size: 32px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
}
  
.stat p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: #fff;
    font-family: "DM Sans", sans-serif;
}

.stat:not(:last-child) {
    border-right: 2px solid #fff;
}

/* News and Announcement */
.section-five {
    text-align: center;
    padding: 40px 20px;
}


.section-five h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.section-five p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #626060;
    font-family: "DM Sans", serif;
}

.swiper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-wrapper {
    /* max-width: 1100px; */
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}
  
.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #07A550;
}
  
.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}
  
.blog-card {
    background-color: #EBEEF1;
    border-radius: 16px;
    padding: 20px;
    /* max-width: 340px; */
    text-align: left;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
  
.status-indicator {
    width: 12px;
    height: 12px;
    background-color: #07A550;
    border-radius: 50%;
}
  
.read-time {
    font-size: 14px;
    color: #626060;
    font-family: "DM Sans", sans-serif;

}
  
.blog-card h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
}
  
.card-description {
    font-size: 14px;
    font-weight: 400;
    color: #626060;
    margin-bottom: 10px;
    font-family: "DM Sans", serif;
}
  
.card-footer {
    display: flex;
    justify-content: flex-end;
}
  
.arrow-button {
    color: #07A550;
    border: 2px solid #07A550;
    border-radius: 70px;
    padding: 10px 24px;
    font-size: 16px;
    cursor: pointer;
}
  
.arrow-button:hover{
    background-color: #07A550;
    color: #fff;
}

/* FAQ Section */
.section-six{
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    padding: 20px;
}

::selection{
    /* background: #07A550; */
    color: #fff;
}

.accordion{
    display: flex;
    max-width: 1010px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    /* padding: 45px 90px 45px 60px; */
    gap: 20px;
}

.accordion-right{
    background-color: #EBEEF1;
    border-radius: 25px;
    padding: 40px 42px;
}
  
.accordion .accordion-right  {
    width: 60%;
}
.accordion .accordion-right .title{
    font-size: 35px;
    font-weight: 600;
    color: #181818;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.accordion .accordion-right .faq-text{
    margin-top: 25px;
    /* height: 263px; */
    overflow-y: auto;
}

.faq-text::-webkit-scrollbar{
    display: none;
}

.accordion .accordion-right li{
    list-style: none;
    cursor: pointer;
}
.accordion-right li .question-arrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-right li .question-arrow .question{
    font-size: 18px;
    font-weight: 500;
    color: #595959;
    transition: all 0.3s ease;
    font-family: "Plus Jakarta Sans", sans-serif;

}
.aaccordion-right li .question-arrow .arrow{
    font-size: 20px;
    color: #595959;
    transition: all 0.3s ease;
}
.accordion-right li.showAnswer .question-arrow .arrow{
    transform: rotate(-180deg);
}
.accordion-right li:hover .question-arrow .question,
.accordion-right li:hover .question-arrow .arrow{
    color: #07A550;
}
.accordion-right li.showAnswer .question-arrow .question,
.accordion-right li.showAnswer .question-arrow .arrow{
    color: #07A550;
}
.accordion-right li .line{
    display: block;
    height: 2px;
    width: 100%;
    margin: 10px 0;
    background: rgba(0, 0, 0, 0.1);
}
.accordion-right li p{
    width: 92%;
    font-size: 15px;
    font-family: "DM Sans", serif;
    font-weight: 400;
    color: #595959;
    display: none;

}
.accordion-right li.showAnswer p{
    display: block;
}

/* Newsletter Section */
.section-seven{
    padding: 80px 240px;
}

.newsletter-bg {
    background-image: url('/assets/newsletter.png');
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.newsletter-content {
    text-align: center;
    color: white;
    max-width: 800px;
}

.newsletter-content h2 {
    font-size: 36px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.newsletter-content p {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: "DM Sans", serif;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.newsletter-form input {
    width: 300px;
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 16px;
}

.newsletter-form button {
    padding: 15px 25px;
    background-color: #07A550;
    color: white;
    font-size: 16px;
    font-family: "DM Sans", serif;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.newsletter-form button:hover {
    background: #131313;
    color: #fff;
}

/* Footer */
.footer {
    background: #fff;
    border-top: 1px solid #131313;
}
  
.footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    padding: 60px 150px;
}
  
.footer-logo {
    display: flex;
    align-items: center;
}
  
.footer-logo h1{
    font-size: 48px;
    font-weight: 300px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #131313;
}
  
.fund-reg{
    width: 163px;
    margin-top: 10px;
}
  
.fund-reg img{
    width: 100%;
}
  
  
.footer-row .footer-col h4 {
    color: #131313;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Plus Jakarta Sans", sans-serif;
  
}
  
.footer-col .links {
    margin-top: 20px;
}
  
.footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
}
  
.footer-col .links li a {
    text-decoration: none;
    color: #727272;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
  
}
  
.footer-col .links li a:hover {
    color: #07A550;
    text-decoration: underline;
}
  
.copy-right{
    margin: 5px 0;
    color: #727272;
}
  
.copy-right span{
    color: #07A550;
}
  
  
.footer-col .icons {
    display: flex;
    margin-top: 20px;
    gap: 30px;
    cursor: pointer;
}
  
.footer-col .icons i {
    color: #727272;
}
  
.footer-col .icons i:hover  {
    color: #07A550;
}

.footer-col .links i {
    color: #727272;
}
  


  


/* -------------------------------------------- */
/* --------------Responsive styling------------ */
/* -------------------------------------------- */


/* 1. Navbar */
@media screen and (max-width: 1232px) {
    .nav {
      padding: 15px 100px;
    }  
}

@media screen and (max-width: 950px) {
    .nav {
      padding: 15px 100px;
    }
   
}

@media screen and (max-width: 1025px) {
    .logo img {
        width: 125px;
    }

    .apply{
        display: block;
    }

    .apply-btn{
        display: none;
    }


    .nav .navOpenBtn,
    .nav .navCloseBtn {
      display: block;
    }
    .nav {
      padding: 15px 20px;
    }
    .nav .nav-links {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100%;
      max-width: 280px;
      width: 100%;
      padding-top: 100px;
      row-gap: 30px;
      flex-direction: column;
      background-color: #EBEEF1;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease;
      z-index: 100;
    }

    .nav .nav-links a:hover{
        color: #07A550;
        text-decoration: underline;
    }

    .nav.openNav .nav-links {
      left: auto;
      right: 0px;
    }
    .nav .navOpenBtn {
      color: #131313;
      font-size: 20px;
      cursor: pointer;
     
    }
    .nav .navCloseBtn {
      position: absolute;
      top: 20px;
      left: 20px;
      color: #131313;
      font-size: 20px;
      cursor: pointer;
    }

    
}

/* 2. Hero section */

@media only screen and (max-width: 1194px) {
    .hero {
        padding: 60px 32px;
    }

    .hero {
        grid-template-columns: 1fr;
        grid-auto-flow: row; 
        margin: 50px 50px 0px;
        gap: 30px;
        text-align: center;
        height: auto;
    }

    .hero-content{
        width: 100%;
    
    }

    
    .hero-content h1 {
        font-size: 2.5rem;
        width: 100%;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-img {
        height: 100%;
        width: 100%;
    }
}

/* Responsive for Mobile Screens */
@media only screen and (max-width: 768px) {
    section {
        padding: 40px 16px;
    }

    .hero {
        
        grid-template-columns: 1fr;
        margin: 0px 0;
        gap: 20px;
    }

    .hero-content {
        padding: 0 20px;
        margin: 50px 0px 0px;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 0.9rem;
        margin: 20px 0;
    }

    .hero-img {
        height: 100%;
        width: 100%;
        text-align: center;
    }
}

/* 3. Empowerment section */
/* Tablet view: for screen widths up to 768px */
@media (max-width: 1024px) {
    .section-two{
        padding: 60px 32px;
    }

    .empowerments-container {
        width: 100%;
        padding: 0 20px;
        height: auto;
    }

    .header-content {
        flex-direction: column; 
        gap: 20px;
        width: 100%; 
        text-align: center;
    }

    .header-content h2 {
        font-size: 36px;
        width: 100%; 
        text-align: start;
    }

    .header-content p {
        font-size: 14px;
        width: 100%; 
    }

    /* Grid layout: Single column for cards */
    .empowerments-grid {
        gap: 20px;
    }

    .empowerment-card {
        width: 100%;
        height: auto;
        flex-direction: column; 
        align-items: flex-start; 
        padding: 20px;
    }

    .empowerment-card img {
        width: 100%; 
        height: auto;
        margin-bottom: 15px; 
    }

    .text-content {
        width: 100%;
        height: auto;
    }

    .text-content h3 {
        font-size: 18px;
    }

    .text-content p {
        font-size: 14px;
    }
}

/* Mobile view: for screen widths up to 480px */
@media (max-width: 600px) {
    .empowerments-grid {
        grid-template-columns: 1fr; 
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .empowerments-grid {
        grid-template-columns: 1fr; 
        gap: 20px;
    }

    .section-two {
        padding: 40px 16px;
    }

    .empowerments-container {
        padding: 0 10px; 
    }

    .header-content {
        text-align: center;
        gap: 15px;
    }

    .header-content h2 {
        font-size: 28px;
    }

    .header-content p {
        font-size: 12px;
    }

    /* Empowerment card layout for mobile */
    .empowerment-card {
        padding: 15px;
        width: 100%; 
        height: auto; 
    }

    .empowerment-card img {
        width: 100%;
        height: auto;
        margin-bottom: 10px; 
    }

    .text-content h3 {
        font-size: 16px;
    }

    .text-content p {
        font-size: 12px;
    }
}

/* 4. Knowledge section */
/* Tablet View*/
@media (max-width: 1024px) {
    .section-three {
        padding: 30px 40px; 
    }

    .knowledge-container {
        max-width: 100%; 
        padding: 40px;
    }

    .ktext-container {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .left-content h1{
        text-align: center;
    }

    .right-content p {
        width: 100%;
        text-align: left;
    }

    .cards-container {
        display: flex;
        flex-direction: column; 
        gap: 30px;
        align-items: center;
    }

    .card {
        width: 100%;
        text-align: center;
    }

    .icon-circle {
        margin: 0 auto 16px; 
    }
}


/* Mobile View */
@media (max-width: 768px) {
    .section-three {
        padding: 40px 20px;
    }

    .ktext-container {
        gap: 30px;
    }

    .left-content h1 {
        font-size: 30px;
        text-align: center;
    }

    .right-content p {
        font-size: 14px;
        text-align: center; 
    }

    .download-link {
        text-align: center; 
        /* display: block; */
        margin: 16px auto 0;
        display: flex; 
        align-items: center; 
        justify-content: center;
    }

    .cards-container {
        gap: 20px;
    }

    .card {
        width: 100%; 
        text-align: center;
    }

    .knowledge-text h3 {
        font-size: 18px; 
    }

    .knowledge-text p {
        font-size: 14px;
    }

    .icon-circle {
        margin-bottom: 16px;
    }
}

/* 5. Impact section */
@media (max-width: 1024px) {
    .section-four {
        padding: 30px 40px; 
    }
}

@media (max-width: 768px) {

    .section-four {
        padding: 40px 20px;
    }

    .quote-content p {
        font-size: 24px;
    }

    .impact-quote {
      padding: 20px;
    }
  
    .quote-content {
      font-size: 18px;
    }
  
    .impact-stats {
      flex-direction: column;
      gap: 20px;
    }
  
    .stat h2 {
      font-size: 26px;
    }

    .impact-stats {
        flex-direction: column;
        padding: 0;
    }
    
    .stat:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid #fff;
    }
    
    .stat p {
        font-size: 14px;
    }
}

/* 6. News & Blog section */
@media (max-width: 768px) {
    .section-five {
        text-align: center;
    }

    .card-wrapper {
      margin: 0 10px 25px;
    }
  
    .card-wrapper .swiper-slide-button {
      display: none;
    }
  
    .card {
      max-width: 100%;
    }
}

/* 7. FAQ section */

@media (max-width: 994px) {
    
    .accordion{
      max-width: 100%;
      /* padding: 45px 60px 45px 60px; */
    }
  
    .accordion .accordion-right{
      width: 63%;
    }
}

@media (max-width: 999px) {
    .accordion{
      flex-direction: column;
    }
    
    .accordion .accordion-right{
      width: 100%;
      margin-top: 30px;
    }
}

@media (max-width: 538px) {

    .accordion-text li p{
      width: 98%;
    }
}
  


/* 8. Newsletter */
@media (max-width: 1024px) {
    .section-seven{
        padding: 40px 120px;
    }    
}

@media (max-width: 768px) {
    .section-seven{
        padding: 40px 60px;
    }
}

@media (max-width: 500px) {
    .section-seven{
        padding: 40px 20px;
    }
}

@media (max-width: 768px) {

    .newsletter-form {
        flex-direction: column;
    }

    .newsletter-form input {
        width: 100%;
    }
}

/* 9. Footer */
@media (max-width: 768px) {
    .footer {
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;
      width: 100%;
      border-radius: 0;
    }
  
    .footer .footer-row {
      padding: 20px;
      gap: 1rem;
    }
  
    .footer-col form {
      display: block;
    }
  
    .footer-col form :where(input, button) {
      width: 100%;
    }
  
    .footer-col form button {
      margin: 10px 0 0 0;
    }
}

@media (max-width: 1300px) {
    .hero-content{
        width: 100%;
    }
}