/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap'); */
/* font-family: "DM Sans", serif; */
/* font-family: "Plus Jakarta Sans", sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    background-color: #fff;
    position: absolute;
    width: 100%;
}



.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    background-color: #fff;
    border-bottom: 1px solid #131313;
    z-index: 999;
}

.nav,
.nav .nav-links {
    display: flex;
    align-items: center;
}
.nav {
    justify-content: space-between;
}
a {
    color: #131313;
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
}

.nav-links a:hover{
    color: #07A550;
    text-decoration: underline;
}

.logo img {
    width: 150px;
}

.nav .nav-links {
    column-gap: 20px;
    list-style: none;
}
.nav .nav-links a {
    transition: all 0.2s linear;
}

.apply{
    display: none;
}


.btn {
    width: 156px;
    height: 48px;
    padding: 13px 16px;
    background-color: #07A550;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    font-weight: bold;  
    cursor: pointer;
}

.btn:hover{
    background-color: #EBEEF1;
    color: #07A550;
    border: 1px solid #07A550;
}
  
.nav .navOpenBtn,
.nav .navCloseBtn {
    display: none;
}

section{
    padding: 80px 0px;

}

/* Hero styling */
.hero{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    align-items: center;
    margin: 0px 146px;
}

.hero-content{
    width: 614px;
}



.hero-content h1{
    color: #131313;
    width: 614px;
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 3rem;
    line-height: 110%;
    margin: 15px 0 0px;
}


.hero-content p{
    color: #131313;
    font-family: "Plus Jakarta Sans", sans-serif;    
    font-size: 1em;
    font-weight: 500;
    line-height: 180%;
    margin: 48px 0;
}
.hero-img {
    text-align: center;
    height: 600px;
    width: 600px;
}

.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Empowerment section styling */
.section-two{
    padding: 20px 243px;
}

.empowerments-container {
    height: 732px;
    /* max-width: 1200px; */
    width: 954px;
    margin: 0 auto;  
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 110px;
    margin: 0px 0px 60px;
    width: 960px;
}

.header-content h2 {
    font-size: 46px;
    flex: 1;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    width: 345px;
}

.header-content p {
    font-size: 16px;
    color: #131313;
    flex: 2;
    text-align: justify;
    font-family: "DM Sans", serif;
    font-weight: 600;
    width: 505px;
}

/* Empowerment cards layout */
.empowerments-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.empowerment-card {
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    padding: 0 20px 0px;
    align-items: center;
    border: 1px solid #626060;
    width: 467px;
    height: 266px;
}

.empowerment-card img {
    width: 209px;
    height: 226px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 20px;
}

.text-content {
    flex: 1;
    height: 226px;
    width: 208px;
}

.text-content h3 {
    font-size: 21px;
    margin: 0px 0px 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.text-content p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    font-family: "DM Sans", serif;
}

/* Our Partners */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #07A550;
    border-radius: 25px;
    font-family: "DM Sans", serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #131313; 
    background-color: transparent; 
    transition: all 0.3s ease;
    position: relative;
    margin-bottom: 24px;
}

.partners-button h4{
    height: 24px;
}

.arrow img{
    height: 24px;
}

.partners-button:hover {
    background-color: #07A550; 
    color: #131313; 
}

.partners-button .arrow {
    margin-left: 10px;
    transition: margin-left 0.3s ease;
    color: #000;
}

.partners-button:hover .arrow {
    margin-left: 15px;
    color: #fff; 
}

/* Our Partners Ticker */
.ticker {
    margin-top: 80px;
    width: 100%;
    left: 0;
    right: 0;
    overflow: hidden; 
}


.ticker ul {
    display: flex;
    gap: 100px;
    list-style: none;
    margin: 0;
    animation: scroll 25s infinite linear;
}

.ticker ul li {
    white-space: nowrap;
    position: relative;
    font-weight: bold;
    margin: 6px 0px;
    height: 40px;
}

.ticker ul li img{
    height: 40px;
}


@keyframes scroll {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Knowledge styling */
.section-three{
    padding: 80px 243px;
}

.knowledge-container {
    background-color: #EBEEF1;
    border-radius: 20px;
    padding: 43px;
    max-width: 953px;
    margin: 0 auto; 
}

/* Header and text section */
.ktext-container {
    display: flex;
    align-items: start;
    margin-bottom: 60px;
    gap: 62px;
}


.left-content h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.right-content p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    color: #626060;
    width: 418px;
    text-align: left;
}

.download-link {
    color: #07A550;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 24px;
    /* display: inline-block; */
    display: flex; 
    align-items: center; 
}

/* Knowledge cards styling */
.cards-container {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 217px;
}

.icon-circle {
    font-size: 24px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.knowledge-text h3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 21px;
    font-weight: 700;
    color: #131313;
    margin: 0;
}

.knowledge-text p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: #626060;
    margin: 8px 0 0;
}



/* -------------------------------------------- */
/* --------------Responsive styling------------ */
/* -------------------------------------------- */


/* 1. Navbar */
@media screen and (max-width: 1160px) {
    .nav {
      padding: 15px 100px;
    }  
}

@media screen and (max-width: 950px) {
    .nav {
      padding: 15px 100px;
    }
   
}

@media screen and (max-width: 1025px) {
    .logo img {
        width: 100px;
    }

    .apply{
        display: block;
    }

    .apply-btn{
        display: none;
    }


    .nav .navOpenBtn,
    .nav .navCloseBtn {
      display: block;
    }
    .nav {
      padding: 15px 20px;
    }
    .nav .nav-links {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100%;
      max-width: 280px;
      width: 100%;
      padding-top: 100px;
      row-gap: 30px;
      flex-direction: column;
      background-color: #EBEEF1;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease;
      z-index: 100;
    }

    .nav .nav-links a:hover{
        color: #07A550;
        text-decoration: underline;
    }

    .nav.openNav .nav-links {
      left: auto;
      right: 0px;
    }
    .nav .navOpenBtn {
      color: #131313;
      font-size: 20px;
      cursor: pointer;
     
    }
    .nav .navCloseBtn {
      position: absolute;
      top: 20px;
      left: 20px;
      color: #131313;
      font-size: 20px;
      cursor: pointer;
    }

    
}

/* 2. Hero section */

@media only screen and (max-width: 1024px) {
    section {
        padding: 60px 32px;
    }

    .hero {
        grid-template-columns: 1fr;
        grid-auto-flow: row; 
        margin: 50px 50px 0px;
        gap: 30px;
        text-align: center;
        height: auto;
    }

    .hero-content{
        width: 100%;
    
    }

    
    .hero-content h1 {
        font-size: 2.5rem;
        width: 100%;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-img {
        height: 100%;
        width: 100%;
    }
}

/* Responsive for Mobile Screens */
@media only screen and (max-width: 768px) {
    section {
        padding: 40px 16px;
    }

    .hero {
        
        grid-template-columns: 1fr;
        margin: 0px 0;
        gap: 20px;
    }

    .hero-content {
        padding: 0 20px;
        margin: 50px 0px 0px;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 0.9rem;
        margin: 20px 0;
    }

    .hero-img {
        height: 100%;
        width: 100%;
        text-align: center;
    }
}

/* 3. Empowerment section */
/* Tablet view: for screen widths up to 768px */
@media (max-width: 1024px) {
    .section-two{
        padding: 60px 32px;
    }

    .empowerments-container {
        width: 100%;
        padding: 0 20px;
        height: auto;
    }

    .header-content {
        flex-direction: column; 
        gap: 20px;
        width: 100%; 
        text-align: center;
    }

    .header-content h2 {
        font-size: 36px;
        width: 100%; 
        text-align: start;
    }

    .header-content p {
        font-size: 14px;
        width: 100%; 
    }

    /* Grid layout: Single column for cards */
    .empowerments-grid {
        gap: 20px;
    }

    .empowerment-card {
        width: 100%;
        height: auto;
        flex-direction: column; 
        align-items: flex-start; 
        padding: 20px;
    }

    .empowerment-card img {
        width: 100%; 
        height: auto;
        margin-bottom: 15px; 
    }

    .text-content {
        width: 100%;
        height: auto;
    }

    .text-content h3 {
        font-size: 18px;
    }

    .text-content p {
        font-size: 14px;
    }
}

/* Mobile view: for screen widths up to 480px */
@media (max-width: 600px) {
    .empowerments-grid {
        grid-template-columns: 1fr; 
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .empowerments-grid {
        grid-template-columns: 1fr; 
        gap: 20px;
    }

    .section-two {
        padding: 40px 16px;
    }

    .empowerments-container {
        padding: 0 10px; 
    }

    .header-content {
        text-align: center;
        gap: 15px;
    }

    .header-content h2 {
        font-size: 28px;
    }

    .header-content p {
        font-size: 12px;
    }

    /* Empowerment card layout for mobile */
    .empowerment-card {
        padding: 15px;
        width: 100%; 
        height: auto; 
    }

    .empowerment-card img {
        width: 100%;
        height: auto;
        margin-bottom: 10px; 
    }

    .text-content h3 {
        font-size: 16px;
    }

    .text-content p {
        font-size: 12px;
    }
}

/* 4. Knowledge section */
/* Tablet View*/
@media (max-width: 1024px) {
    .section-three {
        padding: 60px 40px; 
    }

    .knowledge-container {
        max-width: 100%; 
        padding: 40px;
    }

    .ktext-container {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .left-content h1{
        text-align: center;
    }

    .right-content p {
        width: 100%;
        text-align: left;
    }

    .cards-container {
        display: flex;
        flex-direction: column; 
        gap: 30px;
        align-items: center;
    }

    .card {
        width: 100%;
        text-align: center;
    }

    .icon-circle {
        margin: 0 auto 16px; 
    }
}

/* Mobile View */
@media (max-width: 768px) {
    .section-three {
        padding: 40px 20px;
    }

    .ktext-container {
        gap: 30px;
    }

    .left-content h1 {
        font-size: 30px;
        text-align: center;
    }

    .right-content p {
        font-size: 14px;
        text-align: center; 
    }

    .download-link {
        text-align: center; 
        /* display: block; */
        margin: 16px auto 0;
        display: flex; 
        align-items: center; 
        justify-content: center;
    }

    .cards-container {
        gap: 20px;
    }

    .card {
        width: 100%; 
        text-align: center;
    }

    .knowledge-text h3 {
        font-size: 18px; 
    }

    .knowledge-text p {
        font-size: 14px;
    }

    .icon-circle {
        margin-bottom: 16px;
    }
}
