*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

h1{
  color: #131313;
  font-weight: 700;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2rem;
  line-height: 110%;
  margin: 150px 0 0px;
}

.organogram{
  padding: 10px;
  border-radius: 10px;
  background-color: #EBEEF1;
}

.organogram img{
    max-width: 500px;
}

.download-btn{
  outline: none;
  border: none;
  color: #fff;
  display: flex;
  cursor: pointer;
  padding: 16px 25px;
  border-radius: 50px;
  align-items: center;
  white-space: nowrap;
  background: #07A550;
  transition: all 0.2s ease; 
  justify-content: center;
  align-items: center;
}
.download-btn:hover{
  background: #000;
}

.download-btn i{
  font-size: 1rem;
}
.download-btn .text{
  font-size: 1rem;
  padding-left: 5px;
}

/* General styling for tablet and mobile responsiveness */
/* Mobile view */
@media screen and (max-width: 480px) {
  .organogram img {
    max-width: 300px;
  }
}
  