* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  color: var(--primary);
  transition: color var(--trans-dur);
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: #910808;
}
body,
button {
  color: var(--fg);
  font: 0.6666666667em "Nunito Sans", sans-serif;
}
body {

  background-color: var(--bg);
  /* display: flex; */
  height: 100vh;
  transition: background-color var(--trans-dur), color var(--trans-dur);
}



h1 {
  font-size: 1em;
  margin: 0 0 1.5rem;
}
h2 {
  font-size: 1em;
  line-height: 1;
  margin: 0 0 3rem;
  padding-top: 0.75rem;
}
p {
  margin-bottom: 1.5em;
}
.login {
  margin: 70px auto;
  padding: 0.75em 0.75em 0;
  width: 100%;
  height: 100%;
}
.login__button,
.login__button-eye,
.login__label {
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.login__button,
.login__button-eye {
  cursor: pointer;
  display: block;
  transition: background-color var(--trans-dur), color var(--trans-dur),
    opacity var(--trans-dur);
}
.login__button {
  background-color: var(--primary);
  border-radius: 1.5em;
  color: #fff;
  margin-bottom: 1.5em;
  padding: 0.5em;
  width: 100%;
}
.login__button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.login__button:not(:disabled):hover {
  background-color: #f76e6e;
}
.login__button-eye {
  background-color: transparent;
  border-radius: 0.25em;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2.25em;
  height: 2.25em;
}
.login__button-eye:hover {
  background-color: #e8e3e3;
}
[dir="rtl"] .login__button-eye {
  right: auto;
  left: 0;
}

.login__field {
  margin-bottom: 1.5em;
  position: relative;
}
.login__field--sm {
  margin-bottom: 0.75em;
  padding-top: 0.75em;
}
.login__label {
  display: inline-flex;
  align-items: center;
}
.login__label--sm {
  font-size: 0.75em;
  line-height: 2;
}
.login__logo {
  color: #fff;
  margin: 0.75em 0.75em 1.5em 0.75em;
  overflow: visible;
  width: 2.25em;
  height: 2.25em;
}
.login__or {
  color: #705c5c;
  display: flex;
  align-items: center;
  font-size: 0.75em;
  line-height: 2;
  margin-bottom: 1.5em;
  text-align: center;
  transition: color var(--trans-dur);
}
.login__or:before,
.login__or:after {
  background-color: #baabab;
  content: "";
  display: block;
  flex: 1;
  height: 1px;
  transition: background-color var(--trans-dur);
}
.login__or:before {
  margin-inline-end: 0.75em;
}
.login__or:after {
  margin-inline-start: 0.75em;
}
.login__wrapper {
  background: #fff;
  /* background-image: url('Fk.jpg'); */
  background-size: cover;
  background-position: center;
  /* border-radius: 1.25em 1.25em 0 0; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.login__cta {
  border-radius: 0;
  color: #131313;
  flex: 1;
  /* margin: 0 -1.5em; */
  padding: 1.25em 2.25em;
  transition: background-color var(--trans-dur), box-shadow var(--trans-dur);
}
.login__cta-text {
  padding: 1.25em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

@media (max-width: 1024px) {
  .login__cta-text {
    text-align: center;
    align-items: center;
  }
}

.login__cta-text p {
  color: #07A550;
  background-color: #EBEEF1;
  font-weight: bold;
  font-family: "DM Sans", serif;
  padding: 10px 20px;
  border-radius: 50px;
}
.login__form {
  background-color: #fff;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  border-radius: 1.25em;
  color: #131313;
  padding: 1.25em 1.5em;
  transition: background-color var(--trans-dur), box-shadow var(--trans-dur),
    color var(--trans-dur);
}
.login__form > p {
  margin: 0;
}
/* Beyond mobile */
@media (min-width: 1024px) {
  .login {
    display: flex;
    padding: 0.75em;
    position: relative;
    min-height: 43.5em;
    transform: translateZ(0);
  }

  [dir="rtl"] .login__wrapper {
    margin: auto auto auto calc(50% - 0.75em);
  }
  .login__cta {
    padding: 0;
    /* position: fixed; */
    top: 0;
    left: 1.5em;
    width: 100%;
    height: 120%;
  }
  
  .login__cta-text {
    padding: 4.5em 0;
    padding-inline: 4.5em 9em;
    position: absolute;
    right: calc(50% - 0.75em);
    width: 35em;
  }
  [dir="rtl"] .login__cta-text {
    right: auto;
    left: calc(50% - 0.75em);
  }
  .login__form {
    margin:  50px 0px;
    padding: 2em 3em;
    position: absolute;
    /* top: 0; */
    left: calc(50% - 2.25em);
    width: 33em;
    /* transform: translate(0, -49%); */
    z-index: 1;
  }
  [dir="rtl"] .login__form {
    right: calc(50% - 2.25em);
    left: auto;
  }
}
/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1c1717;
    --fg: #e8e3e3;
  }
  a {
    color: #f76e6e;
  }
  a:visited {
    color: #fccfcf;
  }
  .login__button-eye:hover {
    background-color: #544545;
  }
  .login__error {
    color: #f76e6e;
  }
  .login__form {
    background-color: #EBEEF1;
  }
  .login__or {
    color: #baabab;
  }
  .login__or:before,
  .login__or:after {
    background-color: #EBFFF4;
  }
}

.deductions,
.totals {
  /* border: 1px solid #baabab; */
  background-color: #EBFFF4;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
}


input {
  background-color: transparent;
  /* border-radius: 20; */
  border-bottom: 1px solid #000;
  outline: transparent;
  padding: 2px 10px;
  width: 100%;
  color: #131313;
  /* height: 18px; */
  font-size: 0.15em;
  transition: box-shadow var(--trans-dur), color var(--trans-dur),
    opacity var(--trans-dur);
}

.calcbtn {
  padding: 12px 35px;
  font-size: 18px;
  background-color: #07A550;
  color: #fff;
  outline: none;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  transition: 0.3s;
}

.login__cta-text .calcbtn:hover {
  /* border: 1px solid #07A550; */
  background-color: #131313;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}
